<h1 mat-dialog-title>Single Response</h1>
<div mat-dialog-content>
  <p>Institute Code: {{ data.institute.institute_Code }}</p>
  <p>Institute Name: {{ data.institute.institute_Name }}</p>

  <div>
    <label>Student ID:</label>
    <input class="subbox1" type="number" [(ngModel)]="studentId" (keydown.enter)="fetchStudentName()"><br>
     </div>

  <div *ngIf="studentName !== undefined">
    <label>Student Name: {{ studentName }}</label>
  </div>
 
</div>

<div >
  <button class="btn" mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="downloadData()">Download</button>
</div>
